body {
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.load-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrollbar {
  position: relative;
  overflow-y: scroll;
  height: 500px;
}

.avatar {
  width: 20px;
  height: 20px;
}

.card {
  padding: 10px;
}

.project {
  min-width: 300px !important;
}


.searchBar {
  width: 300px;
  padding: 10px;
  display:inline-block;
}

.paginator {
  width: 300px;
  display:inline-block;
}

.project-description {
  padding: 10px;
}

.lastUpdated {
  padding: 10px;
}

.issue-more-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.issue-label {
  padding-top: 5px;
  border-top: 1px solid darkgrey;
  text-align: left;
  font-size: 12px;
  color: #586069;
  font-weight: bold;
}

.issue-description {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.issue-date {
  text-align: left;
}


