body {
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.load-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollbar {
  position: relative;
  overflow-y: scroll;
  height: 500px;
}

.avatar {
  width: 20px;
  height: 20px;
}

.avatarBig {
  width: 40px;
  height: 40px;
}

.card {
  padding: 10px;
}

.repsList {
  max-width: 1100px;
}

.rep {
  min-width: 300px !important;
}

.rep > * {
  margin-bottom: 10px;
}

.rep a {
  margin-left: auto;
  margin-right: auto;
}

.rep p {
  margin-bottom: 0;
}

.searchBar {
  margin: 10px 10px 10px 0px;
  width: 300px;
  display:inline-block;
}

.issue-more-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.issue-label {
  padding-top: 5px;
  border-top: 1px solid darkgrey;
  text-align: left;
  font-size: 12px;
  color: #586069;
  font-weight: bold;
}

.issue-description {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.issue-date {
  text-align: left;
}
.issueLabels p{
  display: inline-block;
  padding: 2px 7px 2px 7px;
  margin: 5px;
  border-radius: 20px;
}
.projectHeader {
  display: flex;
  align-items: center;
}

.projectFooter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.projectFooter > * {
  margin-right: 15px;
}

.projectFooter p {
  margin-bottom: 0;
}
.projectFooter .readyBar {
  min-width: 30%;
  margin-bottom: 20px;
}
.project {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid darkgrey;
}
.projectInfoWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.project > * {
  margin-left: 15px;
  margin-right: 15px;
}
.project h2 {
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.project hr {
  margin-top: 10px;
}
.project a {
  margin-right: auto;
  margin-bottom: 20px;
}
.labelsContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 40%;
}
.labelsList {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-right: auto;
  height: 1.5em;

}
.label {
  padding: 0 7px;
  margin: 0 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 2em;
  white-space: nowrap;
}
.disableScrollbars *::-webkit-scrollbar {
  height: 0;
  background: transparent;
}
.issuesCount {
  margin-left: 10px;
}
.issuesCount p {
  display: inline;
  margin-left: 2px;
}
.paginator {
  height: 38px;
}
.navigationBarWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1100px;
  margin-bottom: 10px;
}
.navigationBarWrapper .toggleContent {
  margin-left: auto;
  width: 160px;
}
.contributors {
  display: flex;
  flex-direction: row;
}
.contributors div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.repDetailsInfo {
  display: flex;
  margin-bottom: 20px;
}
.repDetailsInfo p {
  margin-right: auto;
}

@media (max-width: 768px) {
  .contentWrapper {
    max-width: 540px;
  }
  .projectFooter {
    display: flex;
    flex-direction: column-reverse;
  }
  .projectFooter * {
    width: 100%;
  }
  .projectHeader {
    display: block;
  }
  .labelsContainer {
    width: 100%;
  }
  .projectInfoWrapper {
    margin-bottom: 10px;
  }
  .searchBar {
    width: 100%;
  }
  .navigationBarWrapper {
    flex-direction: column-reverse;
  }
  .navigationBar {
    margin-right: auto;
  }
}
